{% extends 'base.html.twig' %}

{% block body %}

    <section class="container">
        <p>Vous n'êtes pas connecté. Inscrivez-vous ou connectez-vous.</p>
        <a href="/register"><button class="buttonA">S'inscrire</button></a>
        <a href="/login"><button class="buttonB">Se connecter</button></a>
    </section>
{% endblock %}
